<header class="pb-6 bg-[#082032] lg:pb-0 sticky top-0">
    <div class="mx-auto max-w-7xl ">
        <!-- lg+ -->
        <nav class="flex items-center justify-between h-16 lg:h-20">
        <div>
          <%= link_to root_path do %>
            <div class="flex-shrink-0">
              <p class="text-3xl text-white font-">Manager<span class="text-4xl text-[#FF4C29]">.</span></p>
            </div>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
          <div class="flex  items-center">
            <a href="/new-task" title="" class="items-center justify-center hidden px-4 py-2 text-base font-semibold text-white transition-all duration-200 bg-[#FF4C29] border border-transparent rounded-md lg:inline-flex hover:bg-[#ff5e3e]" role="button"> New task </a>
            <!-- DD MENU -->
            <div class="p-10">
              <div class="dropdown inline-block relative">
                <button class="duration-200 bg-gray-200 border border-transparent rounded-md lg:inline-flex hover:bg-[#ff5e3e] py-2 px-4 rounded inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                <%= link_to root_path do %><li id="first-element">
                    <p class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" role="button">Account </p>
                  </li><% end %>
                  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %><li>
                    <p class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" role="button">Logout </p>
                  </li><% end %>
              </div>
            <!-- END -->
          </div>

          <% else %>
            <a href="/users/sign_in" class="items-center justify-center hidden px-4 py-2 ml-10 text-base font-semibold text-white transition-all duration-200 bg-[#FF4C29] border border-transparent rounded-md lg:inline-flex hover:bg-[#ff5e3e]" role="button"> Login </a>
          <% end %>
        </nav>
        </div>
    </div>
</header>
