<div class="pb-20 pt-14">
  <div>
    <span class="text-white text-4xl">
      My tasks
    </span>
  </div>
  <div class="py-10 overflow-hidden sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
  <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg rounded">
      <table class="min-w-full table-auto">
        <thead class="bg-[#2C394B]">
          <tr>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Title
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Content
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
              Deadline
            </th>
            <th class="px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-white uppercase border-b border-[#FF4C29]">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Email</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Send an email to Marie</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-orange-500 font-bold">2 days left</span></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-[#FF4C29] hover:text-[#ff5e3e]">Check</span></td>
          </tr>
          <tr>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Laundry</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Make the laudry of t-shirts and socks</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-gray-500">4 days left</span></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-[#FF4C29] hover:text-[#ff5e3e]">Check</span></td>
          </tr>
           <tr>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Homework</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Make the intro of my thesis</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-gray-500">5 days left</span></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-[#FF4C29] hover:text-[#ff5e3e]">Check</span></td>
          </tr>
          <tr>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Improve CV</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Update & improve my CV whith updated datas</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-gray-500">7 days left</span></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-[#FF4C29] hover:text-[#ff5e3e]">Check</span></td>
          </tr>
           <tr>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Holidays</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap">Find a country to go for summer holidays</td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-gray-500">8 days left</span></td>
            <td class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"><span class="text-[#FF4C29] hover:text-[#ff5e3e]">Check</span></td>
          </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
